[Unit]
Description=Beats By David Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/Projects/BeatsByDavid/RaspberryPi/beatsbydavid.py 1 1

[Install]
WantedBy=multi-user.target

